<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADuauaQqGZexa8DPO9APImFggjLHLko0g</string>
	<key>GCM_SENDER_ID</key>
	<string>128172328215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodAppProject</string>
	<key>PROJECT_ID</key>
	<string>quick-eats-3c386</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-eats-3c386.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128172328215:ios:487a8c89a8d8c4f7356352</string>
</dict>
</plist>